:root {
/* dark gray */
/*  --color-light: #777;
  --color-dark: #111;
  --color-shadow: #333;*/

/* dark bluish */
  --color-light: #778;
  --color-dark: #112;
  --color-shadow: #223;

/* light bluish */
/*  --color-light: #eef;
  --color-dark: #99a;
  --color-shadow: #bbc;*/
}

.toggle {
  content: '';
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 50px;
  height: 28px;
  outline: none;
/* to remove selection rectangle:*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.toggle input[type=checkbox] {
  opacity: 0; /* or use display: none; to hide default checkbox */
  width: 0px;
  height: 0px;
}

.toggle .slider {
  content: '';
  position: absolute;
  width: 50px;
  height: 28px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  outline: none;
  border-radius: 14px;
  box-shadow: 0 0 0 3px var(--color-shadow), inset 0 0 14px rgba(0,0,0,1);
  --uncheckedbackground: linear-gradient(0deg, var(--color-light), var(--color-dark));
  --checkedbackground: #ff1e70;
  background: var(--uncheckedbackground);
}

.toggle input[type=checkbox]:checked + .slider{
  background: var(--checkedbackground);
}

.toggle:hover .slider:hover {
  filter: brightness(110%);
/* also tested:
  background: radial-gradient(farthest-corner at 60% 50%, #777, #111);
  filter: brightness(150%);
  background: var(--checkedbackground);*/
}

.toggle .slider:before{
  /*main slider*/
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 26px;
  height: 26px;
  background: linear-gradient(0deg, var(--color-dark), var(--color-light));
  border-radius: 13px;
  transition: left 0.4s;
}
/* @supports (-webkit-overflow-scrolling: touch) {
//  CSS specific to iOS devices
  .toggle .slider:before {
    width: 24px;
    height: 24px;
  }
} */

.toggle input[type=checkbox]:checked + .slider:before {
/*  left: calc(50px - 26px - 1px);  doesn't work in Edge */
  left: 23px;
  width: 26px;
}

.toggle .slider:after{
  /*notch*/
  content: '';
  position: absolute;
/*  top: calc(50% - 4px);*/
  top: 11px;
  left: 6px;
  width: 5.8px;
  height: 6px;
/*  border-radius: 50%;*/
  border-radius: 3px;
  background: var(--checkedbackground);
  box-shadow: inset 0 0 2px rgba(0,0,0,1);
  transition: 0.4s;
}

.toggle input[type=checkbox]:checked + .slider:after {
  /*notch*/
/*  left: calc(50px - 11px);*/
  left: 39px;
}
/* @supports (-webkit-overflow-scrolling: touch) {
//  CSS specific to iOS devices
  .toggle input[type=checkbox]:checked + .slider:after {
//    notch
    left: 47px;
  }
} */


.toggle_small {
  content: '';
  display: block;  /* to remove selection on touch  */
  margin: 3px;
  position: relative;
  height: 14px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.toggle_small input[type=checkbox] {
  opacity: 0; /* or use display: none; to hide default checkbox */
  width: 0;
  height: 0;
}

.toggle_small .slider_small {
  content: '';
  position: absolute;
  width: 25px;
  height: 14px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  background: linear-gradient(0deg, var(--color-light), var(--color-dark));
  outline: none;
  border-radius: 7px;
  box-shadow: 0 0 0 2px var(--color-shadow), inset 0 0 5px rgba(0,0,0,1);
  --uncheckedbackground: linear-gradient(0deg, var(--color-light), var(--color-dark));
  --checkedbackground: #ff1e70;
  background: var(--uncheckedbackground);
}

.toggle_small input[type=checkbox]:checked + .slider_small{
  background: var(--checkedbackground);
}

.toggle_small:hover .slider_small:hover {
  filter: brightness(125%);
}

.toggle_small .slider_small:before{
  /*main slider*/
  content: '';
  position: absolute;
  top: 0.75px;
  left: 0.75px;
  width: 12.5px;
  height: 13px;
  background: linear-gradient(0deg, var(--color-dark), var(--color-light));
  border-radius: 6.5px;
  transition: 0.4s;
}

.toggle_small input[type=checkbox]:checked + .slider_small:before {
/*  left: calc(25px - 14px - 1px); doesn't work in Edge */
  left: 11.5px;
  width: 13px;
}

.toggle_small .slider_small:after{
  /*notch*/
  content: '';
  position: absolute;
/*  top: calc(50% - 2px);*/
  top: 5px;
  left: 3px;
  width: 3.2px;
  height: 3px;
/*  border-radius: 50%;*/
  border-radius: 1.5px;
  background: var(--checkedbackground);
  box-shadow: inset 0 0 1px rgba(0,0,0,1);
  transition: 0.4s;
}

.toggle_small input[type=checkbox]:checked + .slider_small:after {
  /*notch*/
/*  left: calc(25px - 6px);*/
  left: 19.5px;
}

.toggle_small .noslider_small {
  content: '';
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 16px;
  height: 16px;
  top: 0px;
  left: calc(50% - 8px);
  cursor: auto;
  background: linear-gradient(0deg, var(--color-light), var(--color-dark));
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 0 2px var(--color-shadow), inset 0px -1px 5px rgba(0,0,0,1);
  --uncheckedbackground: linear-gradient(0deg, var(--color-dark), var(--color-light));
  --checkedbackground: #ff1e70;
  background: var(--uncheckedbackground);
}

.toggle_small input[type=checkbox]:checked + .noslider_small{
  background: var(--checkedbackground);
}

.toggle_small .noslider_small:before{
}

.toggle_small input[type=checkbox]:checked + .noslider_small:before {
}

.toggle_small .noslider_small:after{
}

.toggle_small input[type=checkbox]:checked + .noslider_small:after {
}
