<!doctype html>

<html>
  <head>
    <title>My Discus Aquarium</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="60"/>

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/slider_checkbox.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='discusAquarium.ico') }}">

    <script type="text/javascript"
        src="{{ url_for('static', filename='js/my-funcs.js') }}">
    </script>

  </head>

  <body>
    {# if min-height is not given, it flickers at redrawing #}
    <div class="container" style="min-height: {{plotHeight+30}}px;">
        <div class="viewbuttonlayout">
            {% for vs in viewstates %}
                <div>
                <button class="viewbutton {{'viewactive' if viewstates[vs][0] else ''}}"
                    {% if not viewstates[vs][1] %}
                        disabled
                    {% endif %}
                    id={{vs}} onclick="view_change(this)">{{vs}}</button>
                </div>
            {% endfor %}
        </div>

        <div class="pinlayout">
            {% for pin in outPins %}
                <div class="pinheader">
                {{pin}}
                {% if thermostat['active'] %}
                    {% if pin in thermostat['heatingPins']%}
                        <p class="pinstatus" style="color: {{outPins[pin]['color']}};">
                        if T<{{thermostat['limits'][0]}}{{temperatureUnit}} </p>
                    {% endif %}
                    {% if pin in thermostat['coolingPins']%}
                        <p class="pinstatus" style="color: {{outPins[pin]['color']}};">
                        if T>{{thermostat['limits'][1]}}{{temperatureUnit}} </p>
                    {% endif %}
                {% endif %}

                {% if pin == "feeding" %}
                    <p class="pinstatus" id="countdown"> </p>
                {% endif %}
                {% if pin in cronTasks%}
                    <p class="pinstatus"
                      {% if cronTasks[pin]['str'].startswith("on") %}
                         style="color: {{outPins[pin]['color']}};"
                      {% endif %} >
                    {{ cronTasks[pin]['str'] }} </p>
                {% endif %}
                </div>

                {# www.w3schools.com/howto/howto_css_switch.asp #}
                <label class="toggle">
                    <input type="checkbox" id={{pin}}
                      onclick="state_change(this)"
                      {{'checked' if outPins[pin].state == 1 else ''}}>
                    <span class="slider"
                       style="--checkedbackground: {{outPins[pin]['color']}};">
                    </span>
                </label>                

                {% if pin == "heater" %}
                    {% if thermostat['active'] is not none %}
                    <div class="thermostat">
                    <label class="toggle_small">
                        <input type="checkbox" onclick="thermostat_state(this)"
                            {{'checked' if thermostat['active'] else ''}}>
                        <span class="slider_small"
                            style="--checkedbackground: {{thermostat['color']}};">
                        </span>
                    </label>                
                    </div>
                    <div class="thermostatlabel"> auto </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>

        <div class="gaugelayout">
            {% for itemp, temperature in enumerate(temperatures) %}
                <div id="{{temperature}}"
                {% if (itemp == temperatures|length-1) and (temperatures|length %2 == 1) %}
                    class="gaugesmall gaugesmallcentered"
                {% else %}
                    class="gaugesmall"
                {% endif %}
                ></div>
            {% endfor %}
            {% for sensor in sensorsFromArduino %}
                 <div id="{{sensor}}" class="gaugebig"></div>
            {% endfor %}
            {% for sensor in sensorsFromRaspberry %}
                 <div id="{{sensor}}" class="gaugebig"></div>
            {% endfor %}

            <div class="cervicestatelayout">
            {% for pin in gaugePins %}
                {% if pin in inPinsFromArduino%}
                    <div class="cervicestate">
                    <span style="color: {{inPinsFromArduino[pin]['color']}};">
                    {{pin}}
                    </span>
                    <label class="toggle_small">
                        <input type="checkbox" disabled
                            {{'checked' if inPinsFromArduino[pin]['state'] else ''}}>
                        <span class="noslider_small"
                            style="--checkedbackground: {{inPinsFromArduino[pin]['color']}};">
                        </span>
                    </label>
                    </div>                
                {% endif %}
                {% if pin in inPinsFromRaspberry%}
                    <div class="cervicestate">
                    <span style="color: {{inPinsFromRaspberry[pin]['color']}};">
                    {{pin}}
                    </span>
                    <label class="toggle_small">
                        <input type="checkbox" disabled
                            {{'checked' if inPinsFromRaspberry[pin]['state'] else ''}}>
                        <span class="noslider_small"
                            style="--checkedbackground: {{inPinsFromRaspberry[pin]['color']}};">
                        </span>
                    </label>
                    </div>                
                {% endif %}
            {% endfor %}
            </div>
        </div>

        {% if viewstates["plots"][0]%}
        <div class="plots">
           {% if wantPlot.startswith("plotly") %}
              <iframe id="temperatures"
                title="Temperatures"
                width="360"
                height="300"
                scrolling="no"
                style="border: none;"
                src="{{ url_for('static', filename='plots/timeplots.html') }}">
              </iframe>
           {% elif wantPlot.startswith("mpl") %}
              <div>
                {% for td in plotDeltas %}
                   <button class="tbutton {{'tdactive' if currentPlotDelta == td else ''}}"
                      id={{td}} onclick="time_plot_change(this)">{{td}}</button>
                {% endfor %}
                <button class="tbutton ybutton {{'tdactive' if yrange == 'auto' else ''}}"
                    id="yrange" onclick="y_range_change(this)">auto Y</button>
                <div id="currentDate", class="currentDate"></div>
              </div>
              <script>
                  make_current_date()
              </script>

              <img src="data:image/png;base64,{{plotStr}}"
                height={{plotHeight}}
              />
           {% endif %}
        </div>
        {% endif %}

        {% if viewstates["messages"][0]%}
        <div class="messages">
            <div class="textbox">
            {% for im, (message, messageTime) in enumerate(zip(messages, messageTimes)) %}
               {% if im == 0 %}
                 ► {{messageTime.split(',')[1]}}
               {% else %}
                 {{messageTime}}:
               {% endif %}

               {% set pinName = message.split()[-2] %}
               {% if pinName in outPins %}
                   {% set pinState = message.split()[-1] == 'on' %}               
                   {% set color = outPins[pinName]['color'] if pinState else outPins[pinName]['dimmedColor'] %}               
               {% elif pinName == "thermostat" %}
                   {% set pinState = message.split()[-1] == 'on' %}               
                   {% set color = thermostat['color'] if pinState else thermostat['dimmedColor'] %}               
               {% else %}
                   {% set color = "orange" %}               
               {% endif %}
               <span style="color: {{color}};"> {{message}}<br /> </span>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if viewstates["camera"][0]%}
        <div class="camera">
            <div>
            {% for td in cameraDeltas %}
                <button class="tbutton cbutton {{'tdactive' if currentCameraDelta == td else ''}}"
                    id="{{td}}" onclick="time_camera_change(this)">{{td}}</button>
            {% endfor %}
            </div>

            <img src="{{ url_for('stream') }}">
        </div>
       {% endif %}
    </div>

    <script type="text/javascript">
        var countdownTime = {{feedCounter}};  // in s
        set_countdown(countdownTime)
    </script>

    <script src="../static/js/raphael-2.1.4.min.js"></script>
    <script src="../static/js/justgage.js"></script>
{# does't work: #}
{#    <script src="{{ url_for('static', filename='js/raphael-2.1.4.min.js') }}" </script>
    <script src="{{ url_for('static', filename='js/justgage.js') }}" </script> #}

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {

    {% for temperature in temperatures %}
      new JustGage({
        id: "{{temperature}}",
        valueMinFontSize: 13,
        value: {{temperatures[temperature]['value']}},
        min: {{temperatureDisplayLimits[0]}},
        max: {{temperatureDisplayLimits[1]}},
        title: "{{temperature}}",
        label: "{{temperatureUnit}}",
        decimals: 1,
        titleMinFontSize: 12,
        titleFontColor: "{{temperatures[temperature]['color']}}",
        valueFontColor: "{{temperatures[temperature]['color']}}",
        customSectors: [
            {"lo": {{temperatureColorSectors[0]["lo"]}},
             "hi": {{temperatureColorSectors[0]["hi"]}},
             "color": "{{temperatureColorSectors[0]['color']}}"},
            {"lo": {{temperatureColorSectors[1]["lo"]}},
             "hi": {{temperatureColorSectors[1]["hi"]}},
             "color": "{{temperatureColorSectors[1]['color']}}"},
            {"lo": {{temperatureColorSectors[2]["lo"]}},
             "hi": {{temperatureColorSectors[2]["hi"]}},
             "color": "{{temperatureColorSectors[2]['color']}}"}],
        levelColorsGradient: false,
        gaugeWidthScale: 0.85,
      });
    {% endfor %}

    {% for dd in [sensorsFromArduino, sensorsFromRaspberry] %}
      {% for name, sensor in dd.items() %}
        new JustGage({
          id: "{{name}}",
          valueMinFontSize: 13,
          value: {{sensor['value']}},
          min: {{sensor['limits'][0]}},
          max: {{sensor['limits'][1]}},
          title: "{{name}}",
          label: "{{sensor['unit']}}",
          decimals: {{0 if 100 < sensor['value'] else
                      1 if 10 < sensor['value'] < 100 else
                      2 if 1 < sensor['value'] < 10 else 3}},
          titleMinFontSize: 12,
          titleFontColor: "{{sensor['color']}}",
          valueFontColor: "{{sensor['color']}}",
          gaugeWidthScale: 0.75,
          customSectors: [
              {"lo": {{sensor['colorSectors'][0]["lo"]}},
               "hi": {{sensor['colorSectors'][0]["hi"]}},
               "color": "{{sensor['colorSectors'][0]['color']}}"},
              {"lo": {{sensor['colorSectors'][1]["lo"]}},
               "hi": {{sensor['colorSectors'][1]["hi"]}},
               "color": "{{sensor['colorSectors'][1]['color']}}"},
              {"lo": {{sensor['colorSectors'][2]["lo"]}},
               "hi": {{sensor['colorSectors'][2]["hi"]}},
               "color": "{{sensor['colorSectors'][2]['color']}}"}],
          levelColorsGradient: false,
        });
      {% endfor %}
    {% endfor %}

    });
    </script>

    <div class="footer">
        &nbsp;ArdquariumPi {{version}}
    </div>

  </body>
</html>
